<div class="product">
  <div style="text-align: center">
    <h4>
      {{ index }} :
      <a
        [title]="product.title + ' details '"
        [routerLink]="['/products', product.id]"
      >
        {{ product.title }}
      </a>
    </h4>
  </div>
  <div class="product__description">
    <img [alt]="product.title" [src]="product.image" height="100px" />
    <div>
      <p>{{ product.rating.rate | currency : "★ " }}</p>
      <p>{{ product.rating.count | currency : "꠹ " }}</p>
    </div>
  </div>
  <div class="btn_wrapper">
    <button type="button" (click)="addToCart()">Add to Cart ${{ product.price }}</button>
    <button
      type="button"
      (click)="toggleShowDetails()"
      [ngClass]="{
        'btn_showDetails ': !showDetails,
        'btn_hideDetails ': showDetails
      }"
    >
      {{ showDetails ? " ˄ Hide" : " ˅ Show" }} Details
    </button>
  </div>
  <div *ngIf="showDetails">
    <p>{{ product.description }}</p>
  </div>

  <!-- <app-product-alert [product]="product" (notify)="onNotify()">
  </app-product-alert> -->
</div>
