.modal_background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(00, 00, 00, 0.6);
}

.modal_btn-close {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(00, 00, 00, 0.5);
  border-radius: 3rem;
  color: var(--element-background-color);
  font-weight: 900;
  font-stretch: extra-expanded;
  position: absolute;
  top: -2.5rem;
  right: -2.5rem;
  width: 3rem;
  height: 3rem;
}

.modal_btn-close:hover {
  cursor: pointer;
  color: white;
  background-color: rgba(00, 00, 00, 0.1);
}

.modal_content {
  position: absolute;
  padding: 2rem;
  top: 30vh;
  left: 30vw;
  height: 15vh;
  width: 35vw;
  background-color: white;
  border-radius: 5px;
  /* display: flex; */
}
