.cart-form {
  margin-top: 2rem;
}

button {
  background-color: darkgray;
  border-radius: 0.5rem;
  border-style: solid;
  border-color: cadetblue;
  border-width: 0.8px;
  padding: 0.6rem;
  margin: 2rem;
}

button:hover {
  background-color: cadetblue;
}
