
.figma {
  height: 33.6px;
  width: 100%;
}

.figma > input {
  padding: 1px;
  width: 99%;
  background-color: #e0e0e0;
  border: 0px;
}

.figma > div {
  background-color: #c4c4c4;
  height: 4.8px;
  border-radius: 0 0 5px 5px;
}