<div class="main-page">
  <main>
    <form [formGroup]="myForm" (submit)="onTest()">
      <app-my-input
        title="UserName"
        formControlName="userName"
        buttonCaption="test"
      ></app-my-input>
      <app-my-input
        title="Email"
        formControlName="userEmail"
        [disable]="true"
        [buttonCaption]="'1'"
      ></app-my-input>
      <app-rating-input formControlName="rate"></app-rating-input>
      <hr />
      <button type="submit">Send</button>
    </form>
    <div>
      <a routerLink="/first"><div>Products []</div></a>
      <a routerLink="/auth"><div>Auth</div></a>
    </div>
  </main>
  <!-- <app-auth (test)="onTest($event)"></app-auth> -->
</div>
