.main-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

main {
  display: flex;
  width: 100vw;
  justify-content: center;
}

main > div {
  justify-items: space-around;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

main > div > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 5rem;
}

main > div > a:hover {
  background-color: lightcyan;
  border-radius: 3rem;
  color: burlywood;
  cursor: pointer;
}

img {
  height: 150px;
  width: 300px;
}
