.main-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

main > div {
  justify-items: space-around;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

main > div > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  width: 6rem;
}

main > div > a:hover {
  background-color: var(--element-background-color);
  border-radius: 1rem;
  color: var(--link-hover-color);
  cursor: pointer;
}

img {
  height: 150px;
  width: 300px;
}
