<h2>Products</h2>
<app-global-error></app-global-error>
<div>
  <mat-form-field class="example-form-field">
    <mat-label>Search...</mat-label>
    <input matInput type="text" [(ngModel)]="searchValue" />
    <span
      *ngIf="searchValue"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="searchValue = ''"
    >
      <mat-icon>close</mat-icon>
    </span>
  </mat-form-field>
</div>
<div class="products">
  <h3 *ngIf="isLoading">Loading . . .</h3>
  <div *ngIf="products | async as prodList" class="products">
    <app-product-cart
      *ngFor="
        let product of prodList | filterProducts : searchValue;
        let i = index
      "
      [product]="product | productTitleToLow"
      [index]="i + 1"
    >
    </app-product-cart>
  </div>
  <app-modal title="Add new Product">
    <app-create-product></app-create-product>
  </app-modal>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
