.products {
  display: flex;
  gap: 2rem;
}

a {
  font-weight: 600;
  color: var(--element-background-color);
}

a:hover {
  color: var(--link-hover-color);
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
