<ng-template #buttons>
  <button class="tab-button">{{ loginText }}</button>
  <button class="tab-button">{{ singUpText }}</button>
</ng-template>

<!-- <div *ngIf="isAuth; else loading">
  <p>Loading...</p>
</div>

<ng-container *ngTemplateOutlet="loading"></ng-container> -->

<div class="authPage">
  <form class="auth">
    <div class="formField">
      <span
        class="material-symbols-outlined icon"
        (click)="togglePasswordElement()"
      >
        person
      </span>
      <input name="login" placeholder="Login" appFocus />
    </div>
    <div class="formField">
      <!-- <label for="password">Password: </label> -->
      <span
        class="material-symbols-outlined icon"
        (click)="togglePasswordElement()"
      >
        {{ password.icon_name }}
      </span>
      <input name="password" placeholder="password" [type]="password.type" />
      <!-- <img
        (click)="togglePasswordElement()"
        [src]="password.src"
        width="25px"
      /> -->
    </div>
    <div class="formField">
      <button appFullWidth>{{ "HOME.LOGIN" | translate }}</button>
    </div>
  </form>
</div>
