<ng-template #loading>
  <button class="tab-button">{{ loginText }}</button>
  <button class="tab-button">{{ singUpText }}</button>
</ng-template>

<div *ngIf="isAuth; else loading">
  <p>Loading...</p>
</div>

<ng-container *ngTemplateOutlet="loading"></ng-container>

<div class="auth">
  <form>
    <div>
      <input name="login" placeholder="Login" />
    </div>
    <div class="formField">
      <input name="password" placeholder="password" [type]="password.type" />
      <img
        (click)="togglePasswordElement()"
        [src]="password.src"
        width="25px"
      />
    </div>
    <div>
      <button>Log in</button>
    </div>
  </form>
</div>
