.authPage {
  min-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth {
  width: 250px;
  border: 1px var(--element-background-color) solid;
  border-radius: 1rem;
  display: flex;
  gap: 1.1rem;
  flex-direction: column;
  padding: 2rem;
  background-color: #c4c4c4;
}

.icon {
  padding-left: 0.2rem;
  min-width: 40px;
  color: var(--element-background-color);
}

.auth span {
  position: absolute;
}

.formField {
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
  gap: 2px;
}

input {
  padding-left: 2rem;
  width: 100%;
}

button {
  margin-top: 1rem;
  text-align: center;
}

