.authPage {
  min-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth {
  width: 250px;
  border: 1px var(--element-background-color) solid;
  border-radius: 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  padding: 2rem;
}

.icon {
  padding-left: 0.2rem;
  min-width: 40px;
  color: var(--element-background-color);
}

.auth span {
  position: absolute;
}

.formField {
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
  gap: 2px;
}

input {
  padding-left: 2rem;
  width: 100%;
}

.figma {
  height: 33.6px;
  width: 100%;
}

.figma > input {
  padding: 1px;
  width: 99%;
  background-color: #e0e0e0;
  border: 0px;
}

.figma > div {
  background-color: #c4c4c4;
  height: 4.8px;
  border-radius: 0 0 5px 5px;
}
