html,
body {
  height: 100%;
  --main-background-color: #ffffff;
  --element-background-color: rgb(244, 89, 78);
  --link-color: #fff;
  --link-hover-color: #0066ff;
  --shadow: rgba(244, 89, 78, 0.5);
}

body {
  margin: 3px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--main-background-color);
}

a {
  text-decoration: none;
  color: var(--element-background-color);
}

footer {
  background-color: var(--element-background-color);
}

button[type="button"] {
  background-color: var(--element-background-color);
  margin: 1rem;
  margin-left: 0;
  padding: 0.7rem;
  border: none;
}

button:hover {
  background-color: var(--shadow);
  border-radius: 1rem;
  margin: 0.9rem;
  margin-left: 0;
  border-width: 1px;
  border-style: solid;
  border-color: var(--element-background-color);
}
