.add_product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

input {
  width: 100%;
  height: 25px;
  font-size: larger;
  line-height: 28px;
}

.modal_content-btn {
  display: flex;
  width: 35vw;
  justify-content: center;
  align-items: center;
}

.error {
  position: absolute;
  top: 3rem;
  z-index: 2;
  color: red;
  font-style: italic;
  /* margin: 1rem; */
}
