.tooltip {
  color: red;
  padding: 0.2rem;
}

nav {
  background-color: var(--element-background-color);
  color: var(--link-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  min-height: 3rem;
}
nav > a {
  color: var(--link-color);
}

nav > img {
  height: 4rem;
}
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
